@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap");

@font-face {
  font-family: "NeoDunggeunmo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "NeoDunggeunmo";
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  max-width: 428px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Main */

.Main__Wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url(./imgs/MainBg.png);
  background-repeat: cover no-repeat;
  background-position: right;
  z-index: 3;
  position: relative;
  overflow: hidden;
}

.MainCloud__Wrapper {
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: 2;
}

.MainBg__Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.character {
  opacity: 0%;
  position: relative;
  display: flex;
  margin-top: 40px;
}

.showLeft {
  animation: showLeftToRight 0.5s forwards;
  animation-timing-function: linear;
}

.showRight {
  animation: showRightToLeft 0.5s forwards;
  animation-timing-function: linear;
}

.showUp {
  animation: showDownToUp 0.5s forwards;
  animation-timing-function: linear;
}

.sub_characters {
  opacity: 0%;
  display: flex;
}

@keyframes showLeftToRight {
  0% {
    opacity: 0%;
    transform: translateX(-300px);
  }
  100% {
    opacity: 100%;
    transform: none;
  }
}

@keyframes showRightToLeft {
  0% {
    opacity: 0%;
    transform: translateX(300px);
  }
  100% {
    opacity: 100%;
    transform: none;
  }
}

@keyframes showDownToUp {
  0% {
    opacity: 0%;
    transform: translateY(300px);
  }
  100% {
    opacity: 100%;
    transform: none;
  }
}
