@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap");

@font-face {
  font-family: "NeoDunggeunmo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body * {
  box-sizing: border-box;
  font-family: "NeoDunggeunmo";
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Main */

.Main__Wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url(./imgs/MainBg.png);
  background-repeat: cover no-repeat;
  background-position: right;
  z-index: 3;
  position: relative;
  overflow: hidden;
}

.MainCloud__Wrapper {
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: 2;
}

.MainBg__Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.character {
  opacity: 0%;
  position: relative;
  margin-top: 40px;
}

.building {
  opacity: 0%;
}

.showLeft {
  animation: showLeftToRight 0.5s forwards;
  animation-timing-function: linear;
}

.showLeftTilt {
  animation: showLeftToRightTilt 0.5s forwards;
  animation-timing-function: linear;
}

.showRight {
  animation: showRightToLeft 0.5s forwards;
  animation-timing-function: linear;
}

.showRightTilt {
  animation: showRightToLeftTilt 0.5s forwards;
  animation-timing-function: linear;
}

.showUp {
  animation: showDownToUp 0.5s forwards;
  animation-timing-function: linear;
}

.fadeIn {
  animation: fadeInandOut 0.5s forwards;
  animation-timing-function: linear;
}

.sub_characters {
  opacity: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 90px;
}

.character__sub {
  padding-bottom: 50px;
}
.sub_characters .sub_chars {
  width: 45%;
  display: flex;
  flex-direction: column;
  background-color: #ffcdcd;
  height: 320px;
  border-radius: 22px 22px 0px 0px;
  font-family: "Black Han Sans";
  font-size: 40px;
}

.sub_characters .sub_chars img {
  flex-grow: 1;
  width: 90%;
  margin: 0 auto;
}

.scrollCartoon::-webkit-scrollbar {
  display: none;
}

@keyframes showLeftToRight {
  0% {
    opacity: 0%;
    transform: translateX(-300px);
  }
  100% {
    opacity: 100%;
    transform: none;
  }
}

@keyframes showLeftToRightTilt {
  0% {
    opacity: 0%;
    transform: translateX(-300px) translateY(50px) rotate(-8deg);
  }
  100% {
    opacity: 100%;
    transform: rotate(-8deg);
  }
}

@keyframes fadeInandOut {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes showRightToLeft {
  0% {
    opacity: 0%;
    transform: translateX(300px);
  }
  100% {
    opacity: 100%;
    transform: none;
  }
}

@keyframes showRightToLeftTilt {
  0% {
    opacity: 0%;
    transform: translateX(300px) translateY(20px) rotate(8deg);
  }
  100% {
    opacity: 100%;
    transform: translateY(20px) rotate(8deg);
  }
}

@keyframes showDownToUp {
  0% {
    opacity: 0%;
    transform: translateY(300px);
  }
  100% {
    opacity: 100%;
    transform: none;
  }
}
